<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

<div id="site">
    <div id="app">
        <img id="map" src="Fassaden-M1.png">
        <img id="robot" src="robot.png"
             :style="{top: top + 'px', left: left + 'px', transform: 'rotate(' + rotation + 'deg)'}">

        <div id="info">
            Current position: {{ pos.x }}, {{ pos.y }}, {{ pos.orientation }}°
        </div>
    </div>
    <div id="history">
        <div class="list-header">History
            <div class="list-slider">
                <input name="slider" type="range" min="0" :max="history.length - 1" v-model="historyIndex" step="1">
            </div>
        </div>
        <div class="scrollable-list">
            Historie:
            <li v-for="(entry, index) in history" :class="{active: historyIndex == index}">
                {{ entry.x }}, {{ entry.y }}, {{ entry.orientation }}°
            </li>
        </div>
    </div>
</div>

<script>
    const {createApp} = Vue

    createApp({
        data() {
            return {
                posSingle: {
                    x: 5,
                    y: -1,
                    rotation: 0
                },
                history: [],
                historyIndex: 0
            }
        },
        computed: {
            top() {
                return (this.pos.y * -132) + 635
            },
            left() {
                return ((this.pos.x - 3) * 135) + 5
            },
            rotation() {
                return this.pos.orientation
            },
            pos() {
                if (this.history.length === 0)
                    return this.posSingle
                return this.history[this.historyIndex]
            }
        },
        methods: {
            refreshPosition() {
                fetch('/position')
                    .then(response => response.json())
                    .then(data => {
                        this.pos = data
                    })
            },
            refreshHistory() {
                fetch('/history')
                    .then(response => response.json())
                    .then(data => {
                        this.history = data
                    })
            }
        },
        mounted() {
            this.refreshPosition()
            setInterval(this.refreshPosition, 200)

            this.refreshHistory()
            setInterval(this.refreshHistory, 500)
        }
    }).mount('#site')
</script>

<style>

    #history {
        background: aquamarine;
        height: 100px;
        display: flex;
        overflow: auto;
    }

    #history li.active {
        font-weight: bold;
    }

    #app {
        position: relative;
        height: 800px;
    }

    #app #map {
        position: absolute;
        height: 100%;
    }

    #app #robot {
        position: absolute;
        width: 50px;
        top: 50px;
        left: 50px;
        z-index: 99;
        transition: .25s;
    }

    #app #info {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 10px;
        background: rgba(0, 0, 0, 0.5);
        color: white;
    }

</style>