<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

<div id="site">
    <div id="app-wrapper">
        <div id="app">
            <img id="map" src="Fassaden-M1.png">
            <img id="robot" src="robot.png"
                 :style="{top: top + 'px', left: left + 'px', transform: 'rotate(' + rotation + 'deg)'}">

            <div id="info" class="pos">
                <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" viewBox="0 0 24 24">
                    <path fill="currentColor"
                          d="M12 14q-.825 0-1.412-.588Q10 12.825 10 12t.588-1.413Q11.175 10 12 10t1.413.587Q14 11.175 14 12q0 .825-.587 1.412Q12.825 14 12 14Zm0-6q-.425 0-.712-.287Q11 7.425 11 7V4q0-.425.288-.713Q11.575 3 12 3t.713.287Q13 3.575 13 4v3q0 .425-.287.713Q12.425 8 12 8Zm0 13q-.425 0-.712-.288Q11 20.425 11 20v-3q0-.425.288-.712Q11.575 16 12 16t.713.288Q13 16.575 13 17v3q0 .425-.287.712Q12.425 21 12 21Zm5-8q-.425 0-.712-.288Q16 12.425 16 12t.288-.713Q16.575 11 17 11h3q.425 0 .712.287q.288.288.288.713t-.288.712Q20.425 13 20 13ZM4 13q-.425 0-.712-.288Q3 12.425 3 12t.288-.713Q3.575 11 4 11h3q.425 0 .713.287Q8 11.575 8 12t-.287.712Q7.425 13 7 13Z"/>
                </svg>
                X: {{ pos.x }} Y: {{ pos.y }}
                <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" viewBox="0 0 24 24">
                    <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                       stroke-width="1.5">
                        <path d="M10.586 10.586L16.95 7.05l-3.536 6.364L7.05 16.95l3.536-6.364Z"/>
                        <path d="M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2S2 6.477 2 12s4.477 10 10 10Z"/>
                    </g>
                </svg>
                {{ pos.orientation }}°
            </div>
        </div>
    </div>
    <div id="history">
        <div class="list-header">
            <h2>History</h2>
            <div class="list-slider">
                <!--
                <input name="slider" @click="pause=true" type="range" min="0" :max="history.length - 1"
                       class="form-range"
                       v-model="historyIndex" step="1">
                       -->
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1"
                           :checked="pause">
                    <label class="btn btn-outline-primary" for="btnradio1" @click="pause=true">Pause</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2"
                           :checked="!pause">
                    <label class="btn btn-outline-primary" for="btnradio2" @click="pause=false">Live</label>
                </div>

            </div>
        </div>
        <div class="scrollable-list">
            <li class="pos" v-for="(pos, index) in history" :class="{active: historyIndex == index}"
                @click="historyIndex = index; pause = true">
                <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" viewBox="0 0 24 24">
                    <path fill="currentColor"
                          d="M12 14q-.825 0-1.412-.588Q10 12.825 10 12t.588-1.413Q11.175 10 12 10t1.413.587Q14 11.175 14 12q0 .825-.587 1.412Q12.825 14 12 14Zm0-6q-.425 0-.712-.287Q11 7.425 11 7V4q0-.425.288-.713Q11.575 3 12 3t.713.287Q13 3.575 13 4v3q0 .425-.287.713Q12.425 8 12 8Zm0 13q-.425 0-.712-.288Q11 20.425 11 20v-3q0-.425.288-.712Q11.575 16 12 16t.713.288Q13 16.575 13 17v3q0 .425-.287.712Q12.425 21 12 21Zm5-8q-.425 0-.712-.288Q16 12.425 16 12t.288-.713Q16.575 11 17 11h3q.425 0 .712.287q.288.288.288.713t-.288.712Q20.425 13 20 13ZM4 13q-.425 0-.712-.288Q3 12.425 3 12t.288-.713Q3.575 11 4 11h3q.425 0 .713.287Q8 11.575 8 12t-.287.712Q7.425 13 7 13Z"/>
                </svg>
                X: {{ pos.x }} Y: {{ pos.y }}
                <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" viewBox="0 0 24 24">
                    <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                       stroke-width="1.5">
                        <path d="M10.586 10.586L16.95 7.05l-3.536 6.364L7.05 16.95l3.536-6.364Z"/>
                        <path d="M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2S2 6.477 2 12s4.477 10 10 10Z"/>
                    </g>
                </svg>
                {{ pos.orientation }}°
            </li>
        </div>
    </div>
</div>

<script>
    const {createApp} = Vue

    createApp({
        data() {
            return {
                pause: false,
                startPos: {
                    x: 5,
                    y: -1,
                    rotation: 0
                },
                history: [],
                historyIndex: 0
            }
        },
        computed: {
            top() {
                return (this.pos.y * -132) + 635
            },
            left() {
                return ((this.pos.x - 3) * 135) + 5
            },
            rotation() {
                return this.pos.orientation
            },
            pos() {
                if (this.history.length === 0)
                    return this.startPos
                return this.history[this.historyIndex]
            }
        },
        methods: {
            refreshHistory() {
                fetch('/history')
                    .then(response => response.json())
                    .then(rawData => {

                        // filter only type = pos
                        const data = rawData.filter(item => item.type === 'position')

                        // if length hasnt changed, dont update
                        if (data.length === this.history.length)
                            return

                        this.history = data
                        if (!this.pause)
                            this.historyIndex = data.length - 1
                    })
            }
        },
        mounted() {
            this.refreshHistory()
            setInterval(this.refreshHistory, 500)
        }
    }).mount('#site')
</script>

<style>
    html, body {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
    }

    #site {
        display: flex;
        flex-direction: row;
        height: 100vh;
        width: 100vw;
        background: blueviolet;
    }

    #history {
        background: #f6f6f6;
        display: flex;
        flex-direction: column;
        overflow: auto;
        flex: 30;
    }

    #app-wrapper {
        flex: 80;
        justify-content: center;
        display: flex;
        align-items: center;
        background: #b1b1b1;
    }

    .list-header {
        padding: 15px 10px;
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .list-header h2 {
        margin: 0;
        padding: 0 10px;
    }

    .list-slider {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 5px 12px;
    }

    #history li.active {
    }

    #app {
        position: relative;
        height: 800px;
        background: white;
    }

    #app #map {
        height: 100%;
    }

    #app #robot {
        position: absolute;
        width: 50px;
        top: 50px;
        left: 50px;
        z-index: 99;
        transition: .25s;
    }

    #app #info {
        position: absolute;
        bottom: 0;
        left: 0;
        color: white;
        background: #8e8e8e;
    }

    .pos {
        padding: 5px 10px;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .scrollable-list {
        overflow: auto;
        flex: 1;
    }

    .scrollable-list li {
        list-style: none;
    }

    .scrollable-list li {
        border-top: 1px solid #0002;
    }

    .scrollable-list li:hover {
        cursor: pointer;
        background: #0001;
    }

    .scrollable-list li.active {
        background: #0d6efd;
        color: white;
    }

</style>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
